.random-meal-video,
.input-group,
.meal {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* iframe {
  min-width: 500px !important;
  min-height: 500px !important;
} */
ul {
  list-style: none !important;
}
body {
  background-color: rgb(222, 222, 89);
}
.page-title {
  display: flex;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  padding-top: 280px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 70px;
  margin-top: 30px;
}
/* test the margin-top pixel above number to see if the wording can be better positioned for all screen sizes and redwonload vs code get instructor to help because the explorer does not work*/
.row row-cols-lg-auto g-3 align-items-center {
  display: flex;
  height: 300px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.form-check-label {
  color: white;
}
.navbar {
  background-color: darkgray;
}
.row {
  color: azure;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#suggested-meal-title {
  color: orange;
  position: relative;
}

#suggested-meal-img {
  width: auto;
}

/* footer edits, about us and contact us */
*
  hides
  the
  image
  outline
  and
  allows
  image
  to
  display
  without
  an
  empty
  border
  */
  #random-meal-img {
  border-style: hidden;
  width: 300;
  height: 300;
}

/* styling for the screen title */
.contact-section-title {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: large;
}

/* places the image source behind the text for the contact us and about us section and styles each card with a rounded border and background */
.mb-3 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 3px;
  background-image: url(./Images/foodiesfeed.com_preparing-sandwich-with-hummus-spread-and-fresh-vegetables.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ensures content is positioned to the center and adds felx display */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#suggested-meal-img {
  border-style: hidden;
  width: 300;
  height: 300;
}

#random-meal-img {
  border-style: hidden;
  width: 300;
  height: 300;
}

/* ensures contentNutrition is positioned to the center and adds flex display */
.contentNutrition {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* media query to ensurer that format the foodInput is appropriate for mobile screens */
@media (min-width: 600px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 67%;
  }
}

/* media query to ensurer that the page title format is appropriate for mobile screens */
@media screen and (max-width: 600px) {
  .page-title {
    color: rgb(88, 82, 82);
  }
}
